.landing {
  background: url("../../assets/home/background-home-mobile.jpg") no-repeat
    center center fixed;
  background-size: cover;

  @include md {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }

  @include xl {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }

  // &__cta {
  //   @include xl {
  //     align-items: flex-start;
  //   }
  // }

  // @include xl {
  //   flex-direction: row;
  //   justify-content: space-between;
  //   padding: 10rem 10rem 0rem 10rem;
  // }

  h5 {
    font-size: $font-16;
    letter-spacing: $font-spacing-lg;
    margin: 0;
    margin-bottom: 1.25rem;

    @include md {
      // Fix this margin with header later
      margin-top: 6rem;
      font-size: $font-20;
      letter-spacing: $font-spacing-xl;
    }
  }

  h1 {
    font-size: $font-80;
    font-weight: $font-weight-md;
    margin: 0;
    margin-bottom: 2rem;

    @include md {
      font-size: $font-150;
      margin-bottom: 1rem;
    }
  }

  p {
    font-size: $font-15;
    text-align: center;
    max-width: 31.25rem; // 500px
    margin: 0 1.35rem 5rem 1.35rem;
    line-height: $font-height-md;

    @include md {
      font-size: $font-16;
      line-height: $font-height-lg;
      max-width: 27.75rem; // 444px
      margin: 0 0 10rem 0;
    }

    // @include xl {
    //   text-align: start;
    //   max-width: 410px;
    //   margin-bottom: 5rem;
    // }
  }

  &__button {
    min-width: 9.375rem; // 150px
    min-height: 9.375rem; // 150px
    border-radius: 50%;
    border: none;
    font-family: $font-bellefair;
    font-size: $font-20;
    letter-spacing: $font-spacing-md;

    @include md {
      min-width: 15.125rem; // 242px
      min-height: 15.125rem; // 242px
      font-size: $font-32;
      letter-spacing: $font-spacing-md;
    }

    // @include xl {
    //   margin-top: 6rem;
    // }
  }
}
