.landing {
  &__content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      top: -128px;
      left: 0;
      width: 100vw;
      height: calc(100vh + 28px);
      background: url("../../assets/home/background-home-mobile.jpg") no-repeat center center fixed;
      background-size: cover;
      overflow: hidden;
      z-index: 0;

      @include md {
        background: url("../../assets/home/background-home-tablet.jpg") no-repeat center center fixed;
        background-size: cover;
      }

      @include xl {
        background: url("../../assets/home/background-home-desktop.jpg") no-repeat center center fixed;
        background-size: cover;
      }
    }

    h5 {
      font-family: "Barlow Condensed", sans-serif;
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 2.35px;
      margin: 0;
      margin-bottom: 1.25rem;
      color: $lightblue;

      @include md {
        margin-top: 6rem;
        font-size: 20px;
        letter-spacing: 3.38px;
      }
    }

    h1 {
      font-size: 80px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 1rem;
      color: $white;

      @include md {
        font-size: 150px;
      }
    }

    p {
      font-family: "Barlow", sans-serif;
      font-size: 15px;
      color: $lightblue;
      text-align: center;
      max-width: 500px;
      margin: 1rem 1.35rem 4.125rem 1.35rem;
      line-height: 25px;

      @include md {
        font-size: 16px;
        line-height: 28px;
        max-width: 444px;
        margin: 0 0 10rem 0;
      }
    }
  }

  &__button {
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    border: none;

    @include md {
      min-width: 242px;
      min-height: 242px;
    }

    span {
      font-family: "Bellefair", serif;
      font-size: 20px;
      letter-spacing: 1.25px;

      @include md {
        font-size: 32px;
        letter-spacing: 2px;
      }
    }
  }
}
