.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../assets/destination/background-destination-mobile.jpg")
    no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;

  @include md {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  @include xl {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }

  &__pick {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    @include md {
      align-self: flex-start;
      margin-left: 2rem;
    }

    span {
      font-family: "Barlow Condensed", sans-serif;
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 5px;
      margin: 0;
      margin-right: 1rem;
      margin-bottom: 1.25rem;
      color: $white;
      opacity: 25%;

      @include md {
        font-size: 20px;
        letter-spacing: 3.38px;
      }
    }

    h5 {
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 2.7px;
      margin: 0;
      margin-bottom: 1.25rem;
      color: $white;

      @include md {
        font-size: 20px;
        letter-spacing: 3.38px;
      }
    }
  }

  &__image {
    img {
      width: 170px;
      height: 170px;

      @include md {
        width: 300px;
        height: 300px;
        margin-bottom: 1.5rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 1rem;

    @include md {
      margin-bottom: 1.5rem;
    }

    &__name {
      color: $lightblue;
      margin: 1rem;
      font-weight: 400;
      font-size: 14px;
      padding-bottom: 0.3rem;

      @include md {
        font-size: 16px;
        letter-spacing: 2.7px;
        padding-bottom: 0.75rem;
      }

      &:hover {
        border-bottom: 2px solid $lightblue;
        cursor: pointer;
      }

      &__active {
        color: $white;
        border-bottom: 2px solid $white;
      }
    }
  }

  &__selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      color: $white;
      font-weight: 400;
      font-family: "Bellefair", serif;
      font-size: 56px;
      margin: 0;

      @include md {
        font-size: 80px;
        margin-bottom: 1rem;
      }
    }

    &__description {
      font-family: "Barlow", sans-serif;
      font-size: 15px;
      color: $lightblue;
      line-height: 25px;
      text-align: center;
      margin: 0 1.5rem 2rem 1.5rem;

      @include md {
        font-size: 1rem;
        line-height: 28px;
        margin: 0 6rem 3rem 6rem;
      }
    }

    &__line {
      width: 90%;
      border-bottom: 1px solid $darkgray;
      margin-bottom: 2rem;
    }

    &__info {
      text-align: center;

      @include md {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 5rem;
        width: 50%;
      }

      &__distance,
      &__est {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 2.35px;
        margin: 0;
        margin-bottom: 1rem;
        color: $lightblue;
      }

      &__value,
      &__time {
        font-family: "Bellefair", serif;
        font-size: 28px;
        color: $white;
        margin: 0;
        margin-bottom: 2rem;
      }
    }
  }
}
