.destinations {
  &::before {
    background: url("../../assets/destination/background-destination-mobile.jpg")
      no-repeat center center fixed;
    background-size: cover;

    @include md {
      background-image: url("../../assets/destination/background-destination-tablet.jpg");
    }

    @include xl {
      background-image: url("../../assets/destination/background-destination-desktop.jpg");
    }
  }

  &__content {
    @include xl {
      flex-direction: row;
      min-width: 80%;

      div:first-of-type {
        align-items: flex-start;
      }
    }
  }

  &__image {
    width: 10.625rem; // 170px
    height: 10.625rem; // 170px
    margin-bottom: 1rem;

    @include md {
      width: 18.75rem; // 300px
      height: 18.75rem; // 300px
      margin-bottom: 2rem;
    }

    @include xl {
      width: 27.8125rem; // 445px
      height: 27.8125rem; // 445px
      margin-bottom: 0;
      margin-left: 7rem;
    }
  }

  &__list {
    margin-bottom: 1rem;

    @include md {
      margin-bottom: 1.5rem;
    }

    @include xl {
    }

    &__planet {
      display: inline-block;
      font-family: $font-barlow-c;
      color: $lightblue;
      margin: 0.875rem;
      font-size: $font-14;
      letter-spacing: $font-spacing-lg2;
      padding-bottom: 0.3rem;

      @include md {
        font-size: $font-16;
        letter-spacing: $font-spacing-lg;
        padding-bottom: 0.75rem;
      }

      &:hover {
        border-bottom: 2px solid $lightblue;
        cursor: pointer;
      }

      &__active,
      &__active:hover {
        color: $white;
        border-bottom: 2px solid $white;
      }
    }
  }

  &__name {
    color: $white;
    font-family: $font-bellefair;
    font-size: $font-56;

    @include md {
      font-size: $font-80;
      margin-bottom: 1.5rem;
    }

    @include xl {
      font-size: $font-100;
    }
  }

  &__description {
    font-size: $font-15;
    line-height: $font-height-md;
    text-align: center;
    margin: 0 1.5rem 2rem 1.5rem;

    @include md {
      font-size: $font-16;
      line-height: $font-height-lg;
      margin: 0 6rem 3rem 6rem;
    }

    @include xl {
      font-size: $font-18;
      line-height: $font-height-xl;
      margin: 0 0 2rem 0;
      text-align: start;
      max-width: 444px;
    }
  }

  &__line {
    @include md {
      display: initial;
      width: 80%;
    }
    @include xl {
      display: initial;
      width: 100%;
    }
  }

  &__info {
    text-align: center;

    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 5rem;
      width: 50%;
    }

    @include xl {
      font-size: $font-80;
      margin-left: 0;
      justify-content: space-between;
      width: 75%;
      text-align: start;
    }

    &__distance,
    &__est {
      font-size: $font-14;
      letter-spacing: $font-spacing-lg2;
      margin-bottom: 1rem;
    }

    &__value,
    &__time {
      font-family: $font-bellefair;
      font-size: $font-28;
      color: $white;
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}
