.tech {
  &::before {
    background: url("../../assets/technology/background-technology-mobile.jpg")
      no-repeat center center fixed;
    background-size: cover;

    @include md {
      background-image: url("../../assets/technology/background-technology-tablet.jpg");
    }

    @include lg {
      background-image: url("../../assets/technology/background-technology-desktop.jpg");
    }
  }

  &__image {
    max-width: 100%;
    margin-bottom: 1rem;

    @include md {
      width: 100%;
      margin-bottom: 2.5rem;
    }
  }

  &__list {
    margin-bottom: 1rem;

    @include md {
      margin-bottom: 2rem;
    }

    &__member {
      display: grid;
      place-items: center;
      width: 2.5rem; // 40px
      height: 2.5rem; // 40px
      border-radius: 50%;
      margin: 1rem 0.75rem;
      border: 1px solid $darkgray;
      color: $white;

      @include md {
        width: 60px;
        height: 60px;
      }

      &__active {
        background-color: $white;
        color: $darkblue;
      }
    }
  }

  &__term {
    color: $lightblue;
    font-weight: 400;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.35px;
    font-size: 14px;
    margin-bottom: 0.75rem;

    @include md {
      font-size: $font-16;
      letter-spacing: $font-spacing-lg;
    }
  }

  &__name {
    color: $white;
    font-weight: $font-weight-md;
    font-size: $font-24;
    margin-bottom: 1rem;

    @include md {
      font-size: $font-40;
    }
  }

  &__description {
    font-size: $font-15;
    line-height: $font-height-md;
    text-align: center;
    margin: 0 1.5rem 4rem 1.5rem;

    @include md {
      font-size: $font-16;
      line-height: $font-height-lg;
      max-width: 27.5rem; // 440px
    }
  }
}
