.header {
  position: relative;
  min-width: 100%;
  z-index: 2;

  @include md {
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  @include xl {
    margin-top: 2.1875rem;
  }

  &__logo {
    margin: 1.5rem;
    @include xl {
      margin-left: 56px;
    }
  }

  &__menu {
    background: transparent;
    width: 1.5rem; // 24px
    height: 1.3125rem; // 21px
    background-image: url(../../assets/shared/icon-hamburger.svg);
    border: 0;
    margin: 1.5rem;
    margin-left: auto;

    @include md {
      display: none;
    }
  }

  .nav {
    position: absolute;
    visibility: hidden;
    margin-left: auto;
    min-height: 100vh;
    width: 68%;
    inset: 0;
    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(16px);

    @include md {
      position: relative;
      visibility: visible;
      width: 60%;
      height: 6rem; // 96px
      min-height: auto;
      flex-direction: row;
      align-items: center;
      padding: 2rem;
    }

    @include xl {
      width: 57%;
      padding: 0 5rem;
    }

    &__line {
      display: none;
      z-index: 2;

      @include xl {
        position: absolute;
        display: inline-block;
        min-width: 31.5%;
        height: 0.0625rem; // 1px
        background: $darkgray;
        left: 15%;
      }
    }

    &__close {
      margin: 2rem 1.5rem 2rem auto;
      width: 24px; // 24px
      height: 24px; // 24px

      &:hover {
        cursor: pointer;
      }

      @include md {
        display: none;
      }
    }

    &__list {
      padding-left: 1rem;
      list-style: none;
      margin: 0;

      @include md {
        min-width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
      }
    }

    &__title {
      font-family: $font-barlow-c;
      letter-spacing: $font-spacing-lg;
      color: $white;
      margin-bottom: 2.25rem;

      @include md {
        font-size: $font-14;
        letter-spacing: $font-spacing-lg2;
        margin-bottom: 0;
      }

      &:hover {
        border-right: 3px solid $white;
      }
    }

    &__number {
      font-weight: bold;
      color: $white;
      margin: 1rem;

      @include md {
        display: none;
      }

      @include xl {
        display: initial;
      }
    }
  }
}
