.crew {
  background: url("../../assets/crew/background-crew-mobile.jpg") no-repeat
    center center fixed;
  background-size: cover;

  @include md {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }

  @include xl {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }

  &__list {
    margin-bottom: 1rem;

    // @include md {
    //   order: 1;
    //   margin-bottom: 1rem;
    // }

    &__member {
      display: inline-block;
      background-color: $white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 1rem 0.75rem;
      opacity: 0.17;

      &:hover {
        background-color: $lightblue;
        cursor: pointer;
      }

      &__active {
        opacity: 1;
      }
    }
  }

  &__role {
    color: $white;
    font-family: $font-bellefair;
    font-size: 1rem;
    margin-bottom: 0.75rem;
    opacity: 0.5;

    // @include md {
    //   font-size: 24px;
    // }
  }

  &__name {
    color: $white;
    font-weight: $font-weight-md;
    font-size: $font-24;
    margin-bottom: 1rem;

    // @include md {
    //   font-size: 40px;
    // }
  }

  &__bio {
    font-size: $font-15;
    line-height: $font-height-md;
    text-align: center;
    margin: 0 1.5rem 3rem 1.5rem;

    // @include md {
    //   font-size: 1rem;
    //   line-height: 28px;
    //   max-width: 586px;
    //   margin-bottom: 1.5rem;
    // }
  }
}
