*, *::before, *::after {
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
  margin: 0;
}

.container-centered {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-centered-x {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-centered-y {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Colors

$darkblue: hsl(230, 35%, 7%);
$darkgray: hsl(231, 15%, 26%);
$lightblue: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);

h1, h2, h3, h4 {
  font-family: 'Bellefair', serif;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
}

// Animations

.toggle {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  visibility: visible !important;
  z-index: 2;

  @include md {
    animation: none;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}