*,
*::before,
*::after {
  box-sizing: border-box;
  z-index: 1;
}

body {
  margin: 0;
}

// Fonts

$font-150: 9.375rem; // 150px
$font-100: 6.25rem; // 100px
$font-80: 5rem; // 80px
$font-56: 3.5rem; // 56px
$font-40: 2.5rem; // 40px
$font-32: 2rem; // 32px
$font-28: 1.75rem; // 28px
$font-24: 1.5rem; // 24px
$font-20: 1.25rem; // 20px
$font-18: 1.125rem; // 18px
$font-16: 1rem; // 16px
$font-14: 0.875rem; // 14px
$font-15: 0.9375rem; // 15px

$font-weight-md: 400;

$font-spacing-xxl: 0.295rem; // 4.72px
$font-spacing-xl: 0.2112rem; // 3.38px
$font-spacing-lg: 0.1688rem; // 2.7px
$font-spacing-md: 0.125rem; // 2px
$font-spacing-sm: 0.0781rem; // 1.25px
$font-spacing-lg2: 0.1475rem; // 2.36px

$font-height-xl: 2rem; // 32px
$font-height-lg: 1.75rem; // 28px
$font-height-md: 1.5625rem; // 25px

$font-barlow: "Barlow", sans-serif;
$font-barlow-c: "Barlow Condensed", sans-serif;
$font-bellefair: "Bellefair", serif;

///////////////////

// Colors

$darkblue: hsl(230, 35%, 7%);
$darkgray: hsl(231, 15%, 26%);
$lightblue: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);

///////////////////

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.flex-c-a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-c-r {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  margin-left: auto;
}

.flex {
  display: flex;
}

// Styles for the Destinations, Crew, and Technology pages.

.destinations,
.crew,
.tech {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: brightness(70%);
  }
  &__pick {
    margin-bottom: 2.25rem;

    @include md {
      align-self: flex-start;
      margin-left: 2.5rem;
      margin-bottom: 3.75rem;
    }

    @include xl {
      margin-left: 12.5rem;
    }

    span {
      font-family: $font-barlow-c;
      letter-spacing: $font-spacing-lg;
      margin-right: 1rem;
      color: $white;
      opacity: 25%;

      @include md {
        font-size: $font-20;
        letter-spacing: $font-spacing-xl;
      }

      @include xl {
        font-size: $font-28;
        letter-spacing: $font-spacing-xxl;
      }
    }

    h5 {
      display: inline-block;
      font-size: $font-16;
      letter-spacing: $font-spacing-lg;
      color: $white;

      @include md {
        font-size: 20px;
        letter-spacing: 3.38px;
      }

      @include xl {
        font-size: $font-28;
        letter-spacing: $font-spacing-xxl;
      }
    }
  }

  &__line {
    width: 90%;
    border-bottom: 1px solid $darkgray;
    margin-bottom: 2rem;

    @include md {
      display: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-bellefair;
}

h1 {
  color: $white;
}

h5 {
  font-family: $font-barlow-c;
  text-decoration: none;
  font-weight: $font-weight-md;
  color: $lightblue;
  margin: 0;
}

p {
  font-family: $font-barlow;
  color: $lightblue;
}

// Animations

.toggle {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  visibility: visible !important;
  
  @include md {
    animation: none;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(150,150,150);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50,50,50);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $darkgray;
}
