*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

// Fonts

$font-150: 9.375rem; // 150px
$font-80: 5rem; // 80px
$font-32: 2rem; // 32px
$font-20: 1.25rem; // 20px
$font-16: 1rem; // 16px
$font-15: 0.9375rem; // 15px

$font-weight-md: 400;

$font-spacing-xl: 0.2112rem; // 3.38px
$font-spacing-lg: 0.1688rem; // 2.7px
$font-spacing-md: 0.125rem; // 2px
$font-spacing-sm: 0.0781rem; // 1.25px

$font-height-lg: 1.75rem; // 28px
$font-height-md: 1.5625rem; // 25px

$font-barlow: "Barlow", sans-serif;
$font-barlow-c: "Barlow Condensed", sans-serif;
$font-bellefair: "Bellefair", serif;

///////////////////

// Colors

$darkblue: hsl(230, 35%, 7%);
$darkgray: hsl(231, 15%, 26%);
$lightblue: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);

///////////////////

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.flex-c-a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: $font-bellefair;
}

h1 {
  color: $white;
}

h5 {
  font-family: $font-barlow-c;
  text-decoration: none;
  font-weight: $font-weight-md;
  color: $lightblue;
}

p {
  font-family: $font-barlow;
  color: $lightblue;
}

// Animations

.toggle {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  visibility: visible !important;
  z-index: 2;

  @include md {
    animation: none;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
