.main {
  &__header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
    margin-bottom: 1.75rem;
    z-index: 2;

    @include md {
      margin: 40px;
      margin-bottom: 3.5rem;
    }
  }

  &__nav {
    display: flex;
    visibility: hidden;
    position: absolute;
    align-self: flex-end;
    flex-direction: column;
    text-decoration: none;
    width: 68vw;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(16px);
    z-index: 2;

    @include md {
      visibility: visible;
      width: 56vw;
      height: 100px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
    }

    &__selection {
      &:hover {
        border-right: 3px solid $white;
      }

      &__number {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2.7px;
        color: $white;
        margin: 1rem;

        @include md {
          display: none;
        }
    
      }

      &__title {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2.7px;
        color: $white;

        @include md {
          font-size: 14px;
          letter-spacing: 2.36px;
        }
    
      }
    }
  }

  &__route {
    margin: 1rem 0 1rem 1rem;
  }

  &__link {
    height: 48px;
  }

  &__hamburger {
    width: 24px;
    height: 24px;
    margin: 0;

    @include md {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__close {
    margin: 2rem 24px 2rem auto;
    width: 24px;
    height: 24px;

    @include md {
      display: none;
    }


    &:hover {
      cursor: pointer;
    }
  }
}
